.myBtn {
    background: $darkPurple;
    border-radius: 5px;
    border: 2px solid $darkPurple;
    color: white !important;
    &:hover {
        background: $hoverPurple;
    }
}

.myBtn-outline {
    @extend .myBtn;
    background-color: gainsboro;
    border: solid 2px $darkPurple;
    color: $darkPurple !important;
    &:hover {
        background: darken(gainsboro, 5%);
    }
}

.b-dropdown > .btn-secondary {
    all: unset !important;
     &:hover {
        cursor: pointer !important;
     }

}
