.myBtn {
    background: $darkPurple;
    border-radius: 5px;
    border: 2px solid $darkPurple;
    padding: 4px;
    color: white !important;
    &:hover {
        background: $hoverPurple;
    }
}

.myBtn-outline {
    @extend .myBtn;
    background-color: $mediumBlue;
    border: solid 2px $darkPurple;
    color: $darkPurple !important;
    &:hover {
        background: darken($mediumBlue, 5%);
    }
}

.b-dropdown > .btn-secondary {
    all: unset !important;
     &:hover {
        cursor: pointer !important;
     }
}

.btn-outline-secondary {
    color: darken(#6c757d, 10%) !important;
    border: darken(#6c757d, 10%) solid 2px !important;
}

.btn-outline-secondary:hover {
    background-color: transparent !important;
}

.btn-success {
    background-color: transparent !important;
    color: rgb(1, 87, 1)!important;
    border: rgb(1, 87, 1) solid 2px !important;
}

.btn-danger {
    background-color: transparent !important;
    color: darkred !important;
    border:darkred solid 2px !important;
}

