body {
    background-color: lighten(aliceblue,1%) !important;
}

.main-content {
    padding-right: 210px !important;
    @media screen and (max-width: 700px) {
        padding-right: 0 !important;
    }
}

.offcanvas-header {
    height: 75px;
    background-color: $mediumBlue;
}


.mainNav {
    background: $darkPurple;
    color: whitesmoke;
    margin-bottom: 1rem;
    height: 75px;
}


.offcanvas {
    color: $darkPurple;
    width: 210px !important;
}

.navLink {
    all: unset;
    color: $darkPurple;
    text-decoration: none;
    margin-left: 5px;
}

.navLink.active::after {
    transform: scale(1, 1);
}

.navItem:hover,
a.navLink {
    color: $hoverPurple;
}

.navLink:hover::after {
    transform: scale(1, 1);
}


.navLink::after {
    content: "\00a0\00a0";
    display: inline-block;
    border-right: 3px solid $darkPurple;
    transform: scale(0, 0);
    transition: 500ms transform;
}

.navItem {
    width: fit-content !important;
}


.barsBtn {
    all: unset;
    padding: 1rem;
}

.center-content {
    place-content: center;
    place-items: center;
}
