// .formContainer {
//     width: 60%;
//     min-width: 350px;
//     display: flex;
//     height: 70vh;
//     justify-content: space-evenly;
// }

input,
select {
    border-radius: 4px;
    padding: 2px;
    border: 1px inset;
}
